                                                /******** Contact Page ********/ 


.contactPage {
    margin: 0;
    box-sizing: border-box;
    background: url(../images/contact/miamiSkyline-dark.jpg);
    background-color: #2d3234;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.contactPage .container {
    border: 1px solid;
    align-items: unset;
    margin-bottom: 5%;
    justify-content: center;
}

.contactPage .container h2 {
    display: flex;
    justify-content: flex-end;
}

.businessCard {
    width: max-content;
    background-color: rgb(255,255,255,0.15);
    font-size: var(--fs-100);
    display: flex;
    padding: 1em;
    justify-content: space-between;
}

.businessCard li {
    margin-block: 10%
}

#final-li {
    margin-block: 10% 5%;
}

.inquiry {
    font-weight: 550;
}

.adColumn {
    width: 50%;
    border-right: 1px solid black;
}

.headline {
    font-weight: 600;
    padding-left: .625rem;
    font-size: var(--fs-400);
    margin-block: 5% 11%;
}

.services {
    padding: 0 .625rem;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.actionbox-holder {
        padding-inline: 10px;
        background-color: rgb(223 195 123 / 50%);
        padding-block: 10px;
        width: 85%;
}


.actionbox p {
    margin: 0;
    font-size: var(--fs-300);
}

.actionbox h4 {
    margin: 0;
    font-weight: 100;
}

.actionbox a {
    color: #000;
    font-weight: bold;
}

.contactColumn {
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: min-content;
}

.contactMethods {
    padding-left: 25px;
}

.form-box {
    display: flex;
    justify-content: end;
    width: 100%;
}

.form-container {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contact-inputs {
    margin-top: 1.5em;
}

.contact-submitbtn {
    margin-top: -22px;
}

.contactMethods ul {
    padding: 0;
    text-align: end;
    text-shadow: 0 0 10px rgba(0,0,0,.8);
    font-size: var(--fs-300);
}