

                                                /******** Intro Page ********/  


.introbody {
    background-image: url(../images/intro/skybg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    background-color: #eaf3fb ;
    padding-top: 3.75em;
    padding: 50px;
    height: unset;
    color: azure;
}

.heading {
    display: flex;
    justify-content: center;
}

.introbody .container {
    display: flex;
    align-items: center;
    font-size: var(--fs-400);
    padding: 1.5em;
    justify-content: space-between;
}

.imghold {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: max-content;
    max-width: 25%;
    margin: auto 0;
}

.introheadline {
    margin: .5em 0 0 0;
    font-size: var(--fs-xl);
    font-weight: 100;
}

.introsubline {
    font-size: 1.4rem;
    font-weight: 100;
    text-decoration: line-through;
}

.temp-msg {
    width: 100%;
}

.decoy {
    margin: auto;
    position: relative;
    right: 10px;
    max-width: 50%;
}

.mainhead {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.introbgimg {
    max-width: 100%;
    display: block;
    margin: auto;
    flex-basis: 50%;
    object-fit: contain;
}

.namecard {
    bottom: -18.625em;
}

.name {
    width: 25.5em;
    height: 10em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 5px;
}

.key {
    width: 25.5em;
    height: 10em;
    position: absolute;
    bottom: -5px;
    right: 0;
    margin: 5px;
}